<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%=f.text_area :content, placeholder: "Escrivi un nuevo Tuit" %>
	</div>

	<%= f.submit "Tuit!", class: "btn btn-large btn-primary" %>
	<% end %>