<footer class="footer">
	<small>
		<a href="http://www.taringa.net">Taringa!</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Abouts Yo", about_path%></li>
			<li><%= link_to "Contacto", contact_path %></li>
		</ul>
	</nav>
</footer>